{% extends "base.html" %}
{% block main %}
<div class="container">
    {% for libro in libros %}

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            {{ libro.titulo }}
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            {{ libro.autor }}
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <p class="text-truncate">
                {{ libro.resumen }}
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            {{ libro.isbn }}
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            {{ libro.genero }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
